body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 45px;
    padding-top: 45px;
    width: 95%;

    &__logo {
        width: 20vw;
        height: auto;
    }
    &__nav {
        display: flex;
        align-items: center;

        &__buttonNav {
            font-size: 12px;
            font-weight: 500;
            color: #ff6060;
            background-color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            padding: 0;
            margin-right: 20px;
            text-align: center;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
